* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 200);
    color: white;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

/*
.card {
    width: 80%;
    margin: 40px auto;
    border-radius: 15px;
    border: 5px solid rgb(180, 225, 255);
    box-shadow: 5px 10px #7c7a94;
}
*/

/* Rectangle In effect on the cards */
.card {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    width: 80%;
    margin: 40px auto;
    border-radius: 15px;
    border: 5px solid #1e87b8;
    box-shadow: 5px 10px #7c7a94;
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.card:hover, .card:focus, .card:active {
    color: white;
}
.card:hover:before, .card:focus:before, .card:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}